<template>
  <li :class="[isSelected ? this.$store.state.sidemenu : 'item']">
    <a><i :class="icon" /> {{ title }} <span :class="[isSelected ? chevronUp: chevronDown]" /></a>
    <ul :class="[isSelected ? 'nav child_menu open-menu' : 'nav child_menu']">
      <li
        v-for="child of children"
        :key="child.id"
        :class="[(isSelected &&(selectedChild === child.id)) ? 'current-page' : '' ]"
        @click="selectedItem(child.id)"
      >
        <nuxt-link :to="child.path">
          {{ child.title }}
        </nuxt-link>
      </li>
    </ul>
  </li>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    title: String,
    icon: String,
    isSelected: Boolean,
    children: Array
  },
  data () {
    return {
      chevronUp: 'fa fa-chevron-up',
      chevronDown: 'fa fa-chevron-down',
      selectedChild: '1'
    }
  },
  methods: {
    selectedItem (key) {
      this.selectedChild = key
    }
  }
}
</script>

<style scoped>
.open-menu{
  display: block;
}
</style>
