<template>
  <div class="container body">
    <internal-server-error v-if="error.statusCode === 500" />
    <not-found v-if="error.statusCode === 404" />
    <forbidden v-if="error.statusCode === 403" />
  </div>
</template>

<script>
import InternalServerError from '@/components/errors/InternalServerError'
import NotFound from '@/components/errors/NotFound'
import Forbidden from '@/components/errors/Forbidden'

export default {
  components: {
    Forbidden,
    NotFound,
    InternalServerError

  },
  props: ['error']
}
</script>
